.Dish {
    justify-content: space-between;
    border: 1px solid black;
    padding: 8px;
    margin-bottom: 25px;
}
.Dish,
.DishImageName,
.DishPriceButtons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.DishImageName {
    width: 65%;
}
.DishPriceButtons {
   width: 30%;
    justify-content: space-evenly;
}
.ImgDish {
    width: 145px;
    height: 145px;
    margin-right: 35px;
}