.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}
.Toolbar nav {
    height: 100%;
}
.Toolbar-title {
    color: cornflowerblue;
}
.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
}
.NavigationItem {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.NavigationItem a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;

    text-decoration: none;
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    border-bottom: 2px solid cornflowerblue;
    color: cornflowerblue;
}